/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background: white;
  color: #222222;
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
}
.home {
  width: 100%;
  height: 50px;
  background-color: #060706;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.5% 0;
  flex-wrap: nowrap;
  top: 0;
  z-index: 2;
  font-size: 2rem;
}
.home .logo {
  margin-left: 1%;
  width: 20%;
  flex-direction: column;
  justify-content: flex-start;
}
.home .logo a {
  text-decoration: none;
  color: white;
}
.home .menu-content {
  display: flex;
  width: 80%;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
  overflow: hidden;
}
.home .menu-content a {
  padding: 2% 5%;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  color: white;
  background: black;
}
.home .menu-content a:hover {
  color: black;
  background: white;
}
.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 5% 0;
  font-size: 2.3rem;
}
.about-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: black;
  color: white;
  height: 625px;
}
.about-section h2 {
  font-size: 2.7rem;
}
.about-section .about-top-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 3%;
}
.about-section .about-lower-section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15%;
}
.about-section .about-lower-section .lower-paragraph {
  padding: 5%;
}
.about-section .about-lower-section .lower-paragraph #middle {
  padding: 1.2% 6.5%;
}
.about-section .about-lower-section .lower-paragraph .fa-life-ring,
.about-section .about-lower-section .lower-paragraph .fa-user,
.about-section .about-lower-section .lower-paragraph .fa-check-circle {
  font-size: 10rem;
}
.about-section .about-lower-section .lower-paragraph .paragraph-column {
  padding-top: 3%;
  line-height: 2.7rem;
}
.info-section h2 {
  padding: 5%;
  font-size: 3rem;
  font-weight: bold;
}
.panel-image {
  width: 100%;
}
.panel-image .home-image {
  height: 475px;
  width: 100%;
}
.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  flex-wrap: nowrap;
  vertical-align: middle;
  text-align: center;
}
.top-section h1 {
  line-height: 50px;
  font-size: 3.5rem;
  font-weight: bold;
}
.top-section h1 i {
  font-style: italic;
}
.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  vertical-align: middle;
  text-align: center;
}
.main-section .main-paragraph {
  font-size: 2.5rem;
  padding: 2.5% 0;
}
.main-section .home-info {
  display: flex;
  width: 100%;
  justify-content: center;
}
.main-section .banners {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 5% 2.5%;
  border: 1px solid black;
}
.main-section .banners:hover {
  color: white;
  background: black;
}
