
// .home {
//     width: 100%;
//   height: 75px;
//   background-color: rgb(6, 7, 6);
//   color: white;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: fixed;
//   top: 0;
//   z-index: 2;

//     .logo {

//     }
// }

.panel-image{
    width: 100%;

    .home-image{
        height: 475px;
        width: 100%;
    }
}

.top-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    flex-wrap: nowrap;
    vertical-align: middle;
    text-align: center;
    h1{
        line-height: 50px;
        font-size: 3.5rem;
        font-weight: bold;

        i{
            font-style: italic;
        }
    }
}

.main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    vertical-align: middle;
    text-align: center;

    .main-paragraph{
        font-size: 2.5rem;
        padding: 2.5% 0;
    }

    .home-info{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .banners{
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        margin-top: 5%;
        padding: 5% 2.5%;
        border: 1px solid black;
    }

    .banners:hover{
        color: white;
        background: black;
    }
}

